.root {
    -button-color: #747f8d;
    -hover-button-color: #2e3338; 

    -purple-color: #5865F2;
    -hover-purple-color: #4752C4;

    -text-color: #555c5d;
    -hover-text-color: #2e3338;  

    -gray-color: #e6e6e6;
    -title-color: #060607;
    -hover-background-color: #D4D7DC;
}

.first-color {
    -fx-background-color: white;
}

.second-color {
    -fx-background-color: #CAE5E8;
}

.third-color {
    -fx-background-color: #e3e5e8;
}

/* ========================= Button ========================= */

.button {
    -fx-background-color: none;
    -fx-text-fill: -text-color;
    -fx-font-size: 11;
    -fx-padding: 9 0 9 0;
}

.button:hover {
    -fx-background-color: #99D1D3;
    -fx-text-fill: -hover-text-color;
    -fx-cursor: hand;
}

.button.active {
     -fx-background-color: #99D1D3;
     -fx-text-fill: -hover-text-color;
     -fx-cursor: hand;
}

.button-favicon {
    -fx-graphic: url('../resource/media/normal/dictionary.png');
}

.button-favicon:hover {
    -fx-background-color: #99D1D3;
    -fx-text-fill: -text-color;
    -fx-font-size: 16;
    -fx-cursor: default;
}

.button-search {
    -fx-graphic: url('../resource/media/normal/search01.png');
    -fx-background-radius: 9;
    -fx-border-radius: 9;
}

.button-search:hover {
    -fx-graphic: url('../resource/media/hover/search01.png');
    -fx-border-color: black;
    -fx-border-width: 2;
}

.button-search.active {
    -fx-graphic: url('../resource/media/hover/search01.png');
    -fx-border-color: black;
    -fx-border-width: 2;
}

.button-translate {
    -fx-graphic: url('../resource/media/normal/translate.png');
    -fx-background-radius: 9;
    -fx-border-radius: 9;
}

.button-translate:hover {
    -fx-graphic: url('../resource/media/hover/translate.png');
    -fx-border-color: black;
    -fx-border-width: 2;
}

.button-translate.active {
    -fx-graphic: url('../resource/media/hover/translate.png');
    -fx-border-color: black;
    -fx-border-width: 2;
}

.button-favourite {
    -fx-graphic: url('../resource/media/normal/bookmark.png');
    -fx-background-radius: 9;
    -fx-border-radius: 9;
}

.button-favourite:hover {
    -fx-graphic: url('../resource/media/hover/bookmark.png');
    -fx-border-color: black;
    -fx-border-width: 2;
}

.button-favourite.active {
    -fx-graphic: url('../resource/media/hover/bookmark.png');
    -fx-border-color: black;
    -fx-border-width: 2;
}

.button-history {
    -fx-graphic: url('../resource/media/normal/history01.png');
    -fx-background-radius: 9;
    -fx-border-radius: 9;
}

.button-history:hover {
    -fx-graphic: url('../resource/media/hover/history02.png');
    -fx-border-color: black;
    -fx-border-width: 2;
}

.button-history.active {
    -fx-graphic: url('../resource/media/hover/history02.png');
    -fx-border-color: black;
    -fx-border-width: 2;
}

.button-setting {
    -fx-graphic: url('../resource/media/normal/setting01.png');
    -fx-background-radius: 9;
    -fx-border-radius: 9;
}

.button-setting:hover {
    -fx-graphic: url('../resource/media/hover/setting02.png');
    -fx-border-color: black;
    -fx-border-width: 2;
}

.button-setting.active {
    -fx-graphic: url('../resource/media/hover/setting02.png');
    -fx-border-color: black;
    -fx-border-width: 2;
}

.button-game {
    -fx-graphic: url('../resource/media/normal/joystick.png');
    -fx-background-radius: 9;
    -fx-border-radius: 9;
}

.button-game:hover {
    -fx-graphic: url('../resource/media/hover/joystick.png');
    -fx-border-color: black;
    -fx-border-width: 2;
}

.button-game.active {
    -fx-graphic: url('../resource/media/hover/joystick.png');
    -fx-border-color: black;
    -fx-border-width: 2;
}
